* {
  text-align: center;
  font-size: 50px;
}

.container {
  margin: 10px;
  padding: 10px;
  max-width: 330px;
  border: solid #502F4C 10px;
  background-color: #F9F4F5;
  display: grid;
  grid-template-rows: repeat(6,1fr);
}

.result {
  background-color: #F9F4F5;
  border-color: #502F4C;
  border-style: solid;
  text-align: right;
  padding-right: 10px;
  cursor: not-allowed;
}

.number {
  background-color: #70587C;
  color: #F9F4F5;
  border-color: #502F4C;
  width: 25%;
}

.operators {
  background-color: #C8B8DB;
  color: #502F4C;
  border-color: #502F4C;
  width: 25%;
}

button {
  cursor: pointer;
}

.clear {
  background-color: #F9F4F5;
  color: #502F4C;
  border-color: #502F4C;
  width: 75%;
}