* {
  box-sizing: border-box;
}

div {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
}

.container {
  margin: 20px;
  padding: 20px;
  max-width: 330px;
  min-width: 240px;
  border: solid #502F4C 10px;
  background-color: #F9F4F5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.result {
  margin: 20 0px;
  background-color: #F9F4F5;
  border-color: #502F4C;
  border-style: solid;
  text-align: right;
  padding-right: 10px;
  cursor: not-allowed;
  grid-column: 1 / 5; 
}

.number {
  background-color: #70587C;
  color: #F9F4F5;
  border-color: #502F4C;
}

.operators {
  background-color: #C8B8DB;
  color: #502F4C;
  border-color: #502F4C;
}

.clear {
  background-color: #F9F4F5;
  color: #502F4C;
  border-color: #502F4C;
  grid-column: 1/4;
}

button {
  cursor: pointer;
  box-shadow: 2px 4px 2px 0px #502f4c;
  border-radius: 10px;
  font-size: 90%;
}

button:active{
  transform: translateY(2px);
  box-shadow: 0px 2px 0px 0px;
}