main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
}

.result {
  background-color: #F9F4F5;
  border-color: #502F4C;
  border-style: solid;
  height: 60px;
  width: 275px;
  text-align: right;
  font-size: 50px;
  padding-right: 10px;
}

.number {
  background-color: #70587C;
  color: white;
  border-color: 502F4C;
  height: 70px;
  width: 70px;
  text-align: center;
  font-size: 40px;
}